<yd-admin-page-header title="About"></yd-admin-page-header>

<div class="useful-links">
  <h2>Useful links</h2>
  <div>
    <mat-chip-list aria-label="Fish selection">
      <mat-chip><a href="http://www.yadoms.com/" target="_blank">Yadoms web site</a></mat-chip>
      <mat-chip><a href="https://github.com/Yadoms/yadoms/issues/" target="_blank">Report an issue</a></mat-chip>
      <mat-chip color="primary" selected><a href="https://github.com/Yadoms/yadoms/" target="_blank">Yadoms on Github</a></mat-chip>
      <mat-chip color="accent" selected><a href="http://yadoms.com/forum/" target="_blank">Forum</a></mat-chip>
    </mat-chip-list>
  </div>
</div>

<div class="yadoms-uses">
  <h2>Yadoms uses...</h2>
  <div>
    <mat-nav-list>
      <mat-list-item *ngFor="let dependency of yadomsDependencies">
        <a mat-list-item href="{{dependency.url}}" target='_blank'>
          <img *ngIf="dependency.icon" class="dependency-icon" src="{{dependency.icon}}">
          <mat-icon *ngIf="!dependency.icon" class="dependency-icon">extension</mat-icon>
          <span>{{ dependency.name }}</span>
        </a>
      </mat-list-item>
    </mat-nav-list>
  </div>
</div>

<div class="plugins">
  <h2>Plugins</h2>
  <div>
    <mat-nav-list>
      <mat-list-item *ngFor="let plugin of availablePlugins.plugins">
        <a mat-list-item [attr.href]="plugin.url ? plugin.url : null" target='_blank'>
          <mat-icon class="dependency-icon">extension</mat-icon>
          <span class="subModuleType">{{ plugin.type }}</span>
          <span class="subModuleAuthor" *ngIf="plugin.author">by {{ plugin.author }}</span>
        </a>
      </mat-list-item>
    </mat-nav-list>
  </div>
</div>

<div class="widgets">
  <h2>Widgets</h2>
  <div>
    <mat-nav-list>
      <mat-list-item *ngFor="let widget of availableWidgets.package">
        <a mat-list-item href="{{widget.url}}" target='_blank'>
          <img *ngIf="widget.icon" class="dependency-icon" src="{{widget.icon}}">
          <mat-icon *ngIf="!widget.icon" class="dependency-icon">extension</mat-icon>
          <span class="subModuleType">{{ widget.type }}</span>
          <span class="subModuleAuthor" *ngIf="widget.author">by {{ widget.author }}</span>
          <span class="subModuleCredits" *ngIf=" widget.credits">credits {{ widget.credits }}</span>
        </a>
      </mat-list-item>
    </mat-nav-list>
  </div>
</div>

