<nav>
  <div class="toolbarIcons">
    <a routerLink=" ['./'] " routerLinkActive="active"
      ><span class="brand-logo">Yadoms</span></a
    >
  </div>
</nav>
<div class="center-align">
  <img src="/assets/img/logo.png" class="logo" />
  <div *ngIf="loading" class="content">
    <p>Connexion avec Yadoms...</p>
    <div class="preloader-wrapper active">
      <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-red">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-yellow">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-green">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="hasFailed && !loading" class="content">
    <p>Impossible de contacter le serveur...</p>
    <div class="btn btn-default" (click)="checkServerIsAlive()">
      Retenter...
    </div>
  </div>
  <div></div>
</div>
