.yadoms-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.yadoms-is-mobile .yadoms-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.yadoms-app-name {
  margin-left: 8px;
}

.yadoms-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.yadoms-is-mobile .yadoms-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.fixed-action-btn {
  position: fixed;
  right: 23px;
  bottom: 23px;
  margin-bottom: 0;
  z-index: 997;
}

.yadoms-logo {
  height: 48px;
}
