<mat-card class="widget">
  <mat-card-header *ngIf="configuration.title">
    <mat-card-title>{{ configuration.title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <ng-template ydPluginHost>
        Here be dragons
      </ng-template>  
  </mat-card-content>
</mat-card>


<!--

<div class="grid-item-content">
  <div class="panel-widget-desactivated hidden">
      <div class="panel-widget-header-desactivated"><i class="fa fa-exclamation-triangle wigetConfigurationErrorIcon" title="Erreur inconnue"></i></div>
  </div>
  <div class="panel-widget-customization-overlay customization-item ui-draggable-handle hidden">
      <div class="customizationToolbar widgetCustomizationToolbar">
          <div class="customizationButton widgetCustomizationButton btn-configure-widget"><i class="fa fa-lg fa-cog"></i></div>
          <div class="customizationButton widgetCustomizationButton btn-delete-widget"><i class="fa fa-lg fa-trash-o"></i></div>
      </div>
  </div>
  <div class="panel panel-primary panel-widget widget-numeric-display">
      <div class="panel-heading panel-widget-header">
          <div class="panel-widget-title-toolbar">
              <div class="widget-toolbar-battery hidden" deviceid="6"></div>
          </div>
          <div class="panel-widget-title"></div>
      </div>
      <div class="panel-widget-body" id="widget-1" data-bind="template: { name: 'numeric-display-template' }">
          <div class="main-div">
              <div class="textfit-in-parent textfit" data-bind="text: data()" style="font-size: 161px;">27.7</div>
              <div class="unit textfit" data-bind="text: unit()" min-font="14" style="font-size: 71.0783px;">%</div>
          </div>
          <div class="date-div" data-bind="css: { hidden: !shouldBeVisible()}, text: lastReceiveDate()">Aujourd'hui à 13:16</div>
      </div>
  </div>
</div>-->